{% extends "base.html"%}<!-- Loads Base html file -->
{% block title %}Saved Games{% endblock %}<!-- Labels the browser window -->
{% block content %} 
<h4 align="left" >Park: {{ game }}</h4>
<form method="POST">
  <!-- Creates a table of the selected game score card -->
  <table class="table caption-top table-striped table-bordered table-primary">
    <caption>Date: {{ date }}</caption>
    <thead class="table table-dark">
      <tr>
        <th scope="col">Hole</th>
        <th scope="col">Par</th>
        <th scope="col">Throws</th>
        <th scope="col">Score</th>
        <th scope="col">Avg. Throws</th>
      </tr>
    </thead>
    <tbody>
      {% for savedGameHoles in savedGame.holes %}
        {% if savedGameHoles.user_id == User.id %}
            <tr>
              <th scope="row">{{ savedGameHoles.hole }}</th>
              <td>{{  savedGameHoles.par }}</td>
              <td>{{ savedGameHoles.throws }}</td>
              <td>{{savedGameHoles.throws - savedGameHoles.par}}</td>
              <td>?</td>
            </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <br/>
  <h4 align="center" >Total Score: {{ Total }}</h4>
  <!-- End of Creates a table of the selected game score card -->
  <br /><br/>
  <!-- button sends the delete command to delete the selected saved game -->
  <button 
    class="btn btn-primary"
    name="delete"
    id="delete"
    type="submit" value="DEL">Delete Game</button>
    <!-- End of button sends the delete command to delete the selected saved game -->
</form>
<!-- navigates to to games list page -->
<div align="right">
  <a href="/games" class="btn btn-primary btn-lg " 
  tabindex="-1" role="button" aria-disabled="true">Back to Games</a>
</div>
<!-- End of navigates to to games list page -->
{% endblock %}