{% extends "base.html"%}<!-- Loads Base html file  -->
{% block title %}GDScorecard{% endblock %} <!-- LAbels the browser window -->
{% block content %} 
<h1 align="center">Home {{ User.first_name }}</h1>
<h4 align="left" >Card Templates</h4>
<!-- Creates a list of blank score card templates  -->
<ul class="list-group list-group-flush" id="cards">
    {% for courseTemplate in User.courses %}
      {% if courseTemplate.user_id == User.id %}
        <li class="list-group-item">
          <h5 align="left">Park: {{ courseTemplate.parkName }} </h5>
          <h6> Holes: {{  courseTemplate.numHoles }} ID: {{ courseTemplate.id }}
            <!-- <button type="button" class="close" onClick="deleteNote({{ courseTemplate.id }})">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </h6>
          </li>
      {% endif %}
    {% endfor %}
</ul>
<!-- End of Creates a list of blank score card templates  -->
<br /><br /><br />
<div align="right" >
  <a href="/scorecards" class="btn btn-primary btn-lg " 
  tabindex="-1" role="button" aria-disabled="true">New Game</a>
</div>
<br /> <br /> <br /> <br /> 
<form method="POST">
  <br/>
  <div align="right">
   <a href="/continuegame" class="btn btn-primary btn-lg " 
   tabindex="-1" role="button" aria-disabled="true">Continue Game</a>
  </div>
</form>
{% endblock %}