{% extends "base.html"%}
{% block title %}NewGame{% endblock %}
{% block content %} 
<form method="POST">
  <h3 align ="center">Hole 1 
  </h3>
  <h5 align ="center">PAR: {{par}}
  </h5>
  <div class="form-group">
      <label for="stroke">Throws</label>
      <input 
          type="number" 
          class="form-control" 
          id="throws" 
          name="throws" 
          placeholder="Enter Throws"
      />
  </div>
  <br />
  <h5 align="center">Score: {{Score}}
  </h5>
  <br />
  <button align="right" type="submit" class="btn btn-primary">Enter</button>
</form>
{% endblock %}
