{% extends "base.html"%} <!--Loads the base html file-->
{% block title %}Blank Cards{% endblock %}<!--Labels browser wind-->
{% block content %} 
<h1 align="center">Blank Cards:  {{ User.first_name }}</h1>
<h4 align="left" >Created Scorecards</h4>
<form method="POST">
    <!-- creates dropdown menu of stored saved games-->
    <select type="number" class="form-select form-select-lg mb-3" name="Card" id="CArd" aria-label=".form-select-lg example">
        <option value=NULL selected>Select Card</option>
        {% for courseTemplate in User.courses %}
            {% if courseTemplate.user_id == User.id %}
                <option value={{courseTemplate.id}}>{{courseTemplate.parkName}}
                </option>
            {% endif %}
        {% endfor %}
    </select>
    <!-- End of creates dropdown menu of stored saved games-->
    <!-- Button submits the form -->
    <div align="right">
        <button type="submit" class="btn btn-primary">Start Game</button>
    </div>
    <!-- Button submits the form -->
    <br /> <br /> <br /><br /> <br /> <br /><br /> <br /> 
    <!-- button sends the delete command to delete the selected saved game -->
  <button 
  class="btn btn-primary"
  name="Btn"
  id="Btn"
  type="submit" value="DEL">Delete Card</button>
  <!-- End of button sends the delete command to delete the selected saved game -->
</form>
<br />
<!-- Button to navigate back to home screen -->
<div align="left">
    <a href="/newcard" class="btn btn-primary btn-lg " 
    tabindex="-1" role="button" aria-disabled="true">Create Card</a>
   </div>
   <!-- End of Button to navigate back to home screen -->
<br /> 
  <br/>
  <!-- Button to navigate back to home screen -->
  <div align="right">
   <a href="/" class="btn btn-primary btn-lg " 
   tabindex="-1" role="button" aria-disabled="true">Back to home</a>
  </div>
  <!-- End of Button to navigate back to home screen -->
{% endblock %}